
body {
  background-color: black;
  font-size: 1.2em;
  font-size: 1.2em;
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

h1,
h2, h3, h4, h5, p {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

h4 {
  text-align: center;
  color: red;

}

button {
 width: 100px;
  height: 35px;
  color: red;
}

span {
  text-align: center;
  font-size: 1.2em;
  color: rgb(219, 219, 129);
}

a {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  color: yellow;
  font-size: 30px;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(255, 217, 0, 0.35);

}